In [1]:
# Importing the Libraries
import numpy as np
import pandas as pd

In [3]:
# Loading the data set into pandas data frame

credit_card_df = pd.read_csv('Data/credit_data.csv')

# Displaying the first few rows of the data

credit_card_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# distribution of the two classes 

credit_card_df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [5]:
# This is an Highly Imbalanced Data set
# 0--> Legit Transaction
# 1--> Fraudulent Transaction

# Seprating the legit and Fradulent Transaction

legit_df = credit_card_df[credit_card_df['Class']==0]
fraud_df = credit_card_df[credit_card_df['Class']==1]

In [6]:
print(legit_df.shape)

print(fraud_df.shape)

(284315, 31)
(492, 31)

In [7]:
# UnderSampling  -> Building a sample data set Containing the similar distrubution of Legit and Fradulent Transaction

legit_sample = legit_df.sample(n=492)

In [8]:
print(legit_sample.shape)

(492, 31)

In [9]:
# Concat the Two data Frames

sampled_data = pd.concat([legit_sample, fraud_df],axis=0)

In [10]:
# Let's Print 

sampled_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
184981,126477.0,2.115392,-0.854635,-1.394063,-0.610701,-0.538160,-0.607543,-0.532315,-0.057894,-0.583744,...,-0.099253,0.093030,0.162626,0.744586,-0.157200,0.743799,-0.085932,-0.067666,25.95,0
87340,61640.0,-1.456756,0.147294,0.504322,0.887935,0.268830,0.367276,0.447863,0.602927,-0.688859,...,0.032899,-0.339533,0.189536,-0.852781,0.046943,-0.426117,0.235292,0.033966,173.76,0
137935,82402.0,0.949588,-0.516598,-0.643264,0.062226,-0.098457,-0.829902,0.642172,-0.330331,-0.028956,...,-0.311441,-1.446509,-0.139365,-0.422188,0.225860,0.734383,-0.152555,0.028101,224.00,0
247349,153547.0,2.112353,-1.419573,0.281747,-0.508514,-1.893634,-0.112942,-1.743381,0.239907,1.308329,...,0.106348,0.540405,0.242129,-0.125247,-0.384767,-0.176181,0.050289,-0.042487,4.50,0
135799,81403.0,-1.422210,0.258039,0.949196,0.040256,1.723840,4.240365,-0.612317,1.157709,0.056066,...,0.168868,0.580690,-0.264771,1.023452,0.454606,-0.030039,0.339882,0.386827,100.00,0

In [11]:
sampled_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [16]:
sampled_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64