In [2]:
# Label Encoding----> converting the label into numerical form
# importing the dependcies 
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [5]:
# Label Encoding of the Brest Cancer DataSet
# ===============================================

# load the dataset

cancer_data = pd.read_csv('Data/data.csv')

In [6]:
# First Five Rows of the Data set

cancer_data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [7]:
# Finding the Count of Different Labels

cancer_data['diagnosis'].value_counts()

diagnosis
B    357
M    212
Name: count, dtype: int64

In [8]:
# Load the Label Encoder Function

label_encoder = LabelEncoder()

In [9]:
label = label_encoder.fit_transform(cancer_data.diagnosis)

In [10]:
# Appending the labels to data frame

cancer_data['target'] = label

In [11]:
cancer_data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32,target
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN,1
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN,1
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN,1
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN,1
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN,1

In [14]:
# 0----> Bengin
# 1----> Malignant

cancer_data['target'].value_counts()

target
0    357
1    212
Name: count, dtype: int64

Label Encoding of Iris Data

In [16]:
# Loading the data set

iris_data = pd.read_csv('Data/iris_data.csv')

# First Five Rows of the Data set

iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
# Count the Values

iris_data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [19]:
# Loading the Label Encoder

label_encoder1 = LabelEncoder()

iris_label = label_encoder1.fit_transform(iris_data.Species)

In [21]:
iris_data['target_Species'] = iris_label

In [22]:
iris_data['target_Species'].value_counts()

target_Species
0    50
1    50
2    50
Name: count, dtype: int64

In [23]:
# 0-----> Iris-setosa
# 1-----> Iris-versicolor
# 2-----> Iris-virginica 

iris_data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,target_Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0

Conclusion 

In both the Brest Cancer and Iris Datasets, the Label Encoding technique was applied to convert the categorical labels into numerical form. This allowed for easier analysis and model building. The numerical representation of the labels in both datasets is as follows:

- Brest Cancer Dataset: 0 for Bengin and 1 for Malignant

- Iris Data Set: 0 for Iris-setosa, 1 for Iris-versicolor, and 2 for Iris-virginica.

This technique can be applied to any dataset where categorical labels need to be converted into numerical form.

Note: This is a simple example and in real-world scenarios, you might need to consider more complex preprocessing techniques, such as handling missing values, encoding categorical variables, and normalizing numerical features. These techniques can significantly improve the performance of your machine learning models.

Note: The LabelEncoder class from the sklearn.preprocessing module is used for this task. Other encoders like OneHotEncoder or LabelBinarizer can also be used depending on the specific requirements.

The actual implementation of these techniques can vary based on the specific dataset and the machine learning algorithm you are using. It's always a good idea to explore and experiment with different preprocessing techniques to find the best one for your specific use case.